.nav a:global(.active) {
  border-bottom: 3px solid #e4d804;
}

.nav {
  display: flex;
  justify-content: space-around;
  transition: all 0.3s;
  margin-bottom: 3rem;
}

.nav a:link,
.nav a:visited {
  color: #ffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
}
