/*
  btn-color : #e4d804
*/

:root {
  --btn-bg: #e4d804;
  --btn-text: #212529;
  --bg-white: #f8f9fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

/* carousel */

/* .carousel-item {
  position: relative;
} */
.carousel-caption {
  position: absolute;
  top: 25%;
  right: 40%;
  padding: 4%;
  left: 0;
  line-height: 1.2;
  text-align: left;
}

.text-yellow {
  color: var(--btn-bg);
}

.big-font {
  font-size: 3.8rem;
  font-weight: 900;
}

/* Carousel */

.carousel-control-prev,
.carousel-control-next {
  width: 4%;
}

.carousel-indicators .active {
  background-color: var(--btn-bg);
}

/* links */
.nav-link:hover {
  color: #e4d804;
}

/* scrolll bar */

/* Firefox */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #e4d804 #080422;
}

/* HTML: <div class="ribbon">Your text content</div> */
.ribbon {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}
.ribbon {
  --r: 0.8em; /* control the cutout */

  border-inline: 0.5em solid #0000;
  padding: 0.5em 0.6em calc(var(--r) + 0.2em);
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    calc(100% - 0.5em) 100%,
    50% calc(100% - var(--r)),
    0.5em 100%,
    0 100%
  );
  background: radial-gradient(50% 0.2em at top, #000a, #0000) border-box,
    rgba(24, 23, 23, 0.779) padding-box; /* the color  */
  width: fit-content;
}

.ribbon:hover {
  background: radial-gradient(50% 0.2em at top, #000a, #0000) border-box,
    rgba(44, 44, 44, 0.779) padding-box;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
*::-webkit-scrollbar-track {
  border-radius: 1px;
  background-color: #080422;
}

*::-webkit-scrollbar-track:hover {
  background-color: #110946;
}

*::-webkit-scrollbar-track:active {
  background-color: #150b54;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #e4d804;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #c7bd03;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #c7bd03;
}

.hover-img:hover {
  opacity: 0.8;
}
